@font-face {
    font-family: "iconfont";
    src: url('iconfont.woff') format('woff'),
         url('iconfont.ttf') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-info:before {
    content: "\e6e5";
  }
  
  .icon-shield:before {
    content: "\e6e6";
  }
  
  .icon-file:before {
    content: "\e6e7";
  }
  
  .icon-service:before {
    content: "\e6e8";
  }
  
  .icon-email:before {
    content: "\e6e9";
  }
  
  .icon-wechat:before {
    content: "\e6ea";
  }
  
  .icon-update:before {
    content: "\e6eb";
  }
  
  .icon-arrow-right:before {
    content: "\e6ec";
  }